<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/public/css/styles.css" />
	</head>
	<body>
		<header>
			<h6 class="mainHeader accent">Art Point</h6>
			<a href="/home">Home</a>
			<a href="/account">Profile</a>

		</header>
		<main>
			{{{body}}}
		</main>
	</body>
</html>