<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/public/css/styles.css" />
	</head>
	<body>
		<header>
			<h1 class="mainHeader">Art Point</h1>
			<a href="/home">Home</a>
			<a href="/account">Profile</a>

		</header>
		<main>
			{{{body}}}
		</main>
	</body>
</html>