<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!--                        links                            -->
		<link title="Main CSS" rel="stylesheet" href="/public/css/styles.css" />
		<link title="Font Icons" rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
			
		/>

		<!--                        scripts                            -->
		<script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js"></script>

	</head>
	<body>
		<header>
			<h6 class="mainHeader accent">Art Point</h6>
			<div class="icon__container">
				<a href="/home"><box-icon name="home" animation='tada-hover'></box-icon></a>
				<a href="#"><box-icon name="store-alt" animation='tada-hover'></box-icon></a>
				<a href="/create"><box-icon name='image-add' animation='tada-hover'></box-icon></a>
				<a href="/account"><box-icon name="user" animation='tada-hover' ></box-icon></a>
			</div>

		</header>

		<main>
			{{{body}}}
		</main>

		<footer>
			<div class="social__container">
				<a href="/" class="page__item"><box-icon type='logo' name='instagram-alt' ></box-icon></a>
				<a href="/" class="page__item"><box-icon type='logo' name='snapchat'></box-icon></a>
				<a href="/" class="page__item"><box-icon type='logo' name='facebook-square'></box-icon></a>
				<a href="/" class="page__item"><box-icon type='logo' name='linkedin-square'></box-icon></a>
			</div>
			
			<div class="logo__container">
				<p class="accent">Art Point</p>
			</div>

			<div class="nav__container">
				<a href="/home" class="page__item">home</a>
				<a href="#" class="page__item">artists</a>
				<a href="#" class="page__item">store</a>
				<a href="#" class="page__item">faqs</a>
				<a href="#" class="page__item">about us</a>
			</div>
		</footer>
	</body>
</html>