@use "./var";
@use "./typography";
@import "./mixins";
@import "./colors";
h1,
h2,
h3,
h4,
h5,
h6,
p {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	font-size: 14px;
}
html {
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
}
li {
	list-style-type: none;
}

@import "./components/header";
