<head>
  <title>About</title>
</head>
<body>
  <br />
  <h2 class="titlePurp">Our Purpose</h2>
  <div class="purpose">What does it mean to shop and share on Art Point? It
    means that you are expressing yourself and promoting the expression of
    others. With Art Point you have access to original, absorbing, awe-inspiring
    art. Art Point provides a safe space for small artists, not only do artists
    have a place to start a business, but they receive 100% of the business
    profit; no service fees to worry about. By supporting small businesses, we
    can make the economy more colorful and allow artists to pursue their
    passion. We thank all users for contributing to the Art Point community, we
    couldn't be where we are without YOU!
  </div>

  <img src="https://i.imgur.com/uUrq4SB.png" id="aboutPic" />

  <br />
  <br />

  <h3 class="titlePurp">Meet the Team</h3>
  <br />
  <br />

  <ul class="team">
    <li class="person">
      <div class="gitimg">
        <img
          src="https://avatars.githubusercontent.com/u/73138670?v=4"
          alt="Brendan"
        />
      </div>
      <h5 class="team-member">Brendan</h5>
      <p class="aboutText">Brendan is a 3/4 Software Engineering major from
        blank New Jersey.</p>
    </li>

    <li class="person">
      <div class="gitimg">
        <img
          src="https://avatars.githubusercontent.com/u/23327178?v=4"
          alt="Cindy"
        />
      </div>
      <h5 class="team-member">Cindy</h5>
      <p class="aboutText">Cindy Zhang is a 3/4 Computer Science Major from
        Forest Hill, MD. She aims to be Web or Software Developer industry after
        college. She's passionate about topic related to UI/UX Design,
        Optimization, and Game Design. During Cindy's free time she enjoys
        creating digital art, eating new foods, angry cleaning, and watching
        movie recaps.
      </p>
    </li>

    <li class="person">
      <div class="gitimg">
        <img
          src="https://avatars.githubusercontent.com/u/55270649?v=4"
          alt="Jack"
        />
      </div>
      <h5 class="team-member">Jack</h5>
      <p class="aboutText">Jack is a 3/4 Computer Science major from Hunterdon,
        New Jersey. Jack works at ADP as an application developer. He hopes to
        join the game design industry after college. Some games that inspire him
        are Team Fortress 2 and Apex Legends. He enjoys creating applications
        about programming. Jack's favorite part of Art Point is the ability to
        show the world your artistic ability.
      </p>
    </li>

    <li class="person">
      <div class="gitimg">
        <img
          src="https://avatars.githubusercontent.com/u/57379770?v=4"
          alt="Jessica"
        />
      </div>
      <h5 class="team-member">Jessica</h5>
      <p class="aboutText">Jessica is a 3/4 Computer Science major from New York
        City. She has been working in the healthcare industry as a Data Engineer
        along with school. Her hobbies outside of work and school include
        playing video games, volleyball and her cat Cookie! Jessica's favorite
        part of Art Point is that "it allows users a place to sell their pieces
        without any service fee, I feel like a lot of companies take advantage
        of local business' by charging a big sum just to post something they
        made."
      </p>
    </li>

    <li class="person">
      <div class="gitimg">
        <img
          src="https://avatars.githubusercontent.com/u/55248337?v=4"
          alt="Eric"
        />
      </div>
      <h5 class="team-member">Eric</h5>
      <p class="aboutText">Eric is a 3/4 Computer Science major from Harrington
        Park, New Jersey. He is an aspiring software developer hoping to work in
        full stack development. He enjoys playing video games with his friends,
        coding, and cooking new recipes! His favorite aspect about Art Point is
        the user friendly design that takes the middleman out of sharing,
        appreciating, and purchasing art!
      </p>
    </li>
  </ul>
</body>