+   <head>
      <title>About</title>
   </head>
   <body>
      <h2>Our purpose</h2>
      <div>Art Point brings creativity and imagination to artists and art lovers by providing a platform for artists with no service fee.</div>
      <h3>Meet the Team</h3>
      <br>
      <br>

      <ul class="team">
         <li class="person">
            <div class="gitimg">
               <img src="https://avatars.githubusercontent.com/u/73138670?v=4" alt="Brendan">
            </div>
            <h5 class="team-member">Brendan</h5>
            <p class="aboutText">Brendan is a 3/4 Software Engineering major from blank New Jersey.</p>
         </li>

         <li class="person">
            <div class="gitimg">
               <img src="https://avatars.githubusercontent.com/u/23327178?v=4" alt="Cindy">
            </div>
            <h5 class="team-member">Cindy</h5>
            <p class="aboutText">Cindy is a 3/4 Computer Science major from Forest Hills, Maryland. She aims to be 
               working in BLANK industry post college. She has a passion for BLANK. During Cindy's 
               free time she enjoys BLANK. Her favorite part of Art Point is BLANK.
            </p>
         </li>

         <li class="person">
            <div class="gitimg">
               <img src="https://avatars.githubusercontent.com/u/55270649?v=4" alt="Jack">
            </div>
            <h5 class="team-member">Jack</h5>
            <p class="aboutText">Jack is a 3/4 Computer Science major from Hunterdon, New Jersy. Jack works at BLANK.
               He hopes to join the game design industry after college. Some games that inspire him 
               are BLANK. He enjoys BLANK about programming. Jack's favorite part of Art Point is BLANK.
            </p>
         </li>

         <li class="person">
            <div class="gitimg">
               <img src="https://avatars.githubusercontent.com/u/57379770?v=4" alt="Jessica">
            </div>
            <h5 class="team-member">Jessica</h5>
            <p class="aboutText">Jessica is a 3/4 Computer Science major from New York City. She has been working 
               in the healthcare industry as a Data Engineer along with school. Her hobbies outside of work and school include 
               playing video games, volleyball and her cat Cookie! Jessica's favorite part of Art Point 
               is that "it allows users a place to sell their pieces without any service fee, I feel like 
               a lot of companies take advantage of local business' by charging a big sum just to post something 
               they made."
            </p>
         </li>

         <li class="person">
            <div class="gitimg">
               <img src="https://avatars.githubusercontent.com/u/55248337?v=4" alt="Eric">
            </div>
            <h5 class="team-member">Eric</h5>
            <p class="aboutText">Eric is a 3/4 Computer Science major from Tappan, New Jersey.</p>
         </li>
      </ul>
   </body>