<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Create Art</title>
  </head>
  <body>

    <main class="page">

      <h2>Create Post</h2>
      <form
        method="POST"
        enctype="multipart/form-data"
        action="/item/submitart"
      >
        <label for="artInput">Upload some art</label>
        <input type="file" name="image" id="artInput" />

        <label for="artTitle">Name of Art</label>
        <input type="text" name="artTitle" id="artTitle" />

        <label for="artDescription">What is this art about?</label>
        <input type="text" name="artDescription" id="artDescription"/>
        
        <label for="typeGenre">What Genre is this</label>
        <input type="text" name="typeGenre" id="typeGenre"/>

        <label for="forSale">Do you want to sell this?</label>
        <input type="checkbox" name="forSale" id="forSale" />
        
        <label for="setPrice">Price</label>
        <input type="number" min="0.00" step =".01" name="setPrice" id="setPrice" />

        <input type="submit" name="submit"/>
      </form>

      {{#if error}} 
        <p class="error">Error: {{error}} </p>
      {{/if}}

    </main>

  </body>

</html>