<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <title>Error</title>
  </head>

  <body>  
    <main class = "page">
      
      <p>Error 404: This page is not found. Sorry!</p>
      <p>
        <a href="/home">Click here to go back home.</a>
        {{{error}}}
      </p>

    </main>
  </body>
  
</html>