<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login</title>
	</head>
	<body>
		<main class="page">
			<h1>Login</h1>
			<form action="/login" method="POST" id="login-form">
				<div class="form__div">
					<label for="userName">Username</label>
					<input
						type="text"
						name="username"
						id="userName"
						placeholder="Username"
						autocomplete="username"
						pattern="[A-Za-z0-9]{3,}"
						required
					/>
				</div>

				<div class="form__div">
					<label for="password">Password</label>
					<input
						type="password"
						name="password"
						id="password"
						placeholder="Password"
						autocomplete="current-password"
						pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[#?!@$%^&*-\]\[]).{8,}"
						required
					/>
				</div>

				<button type="submit" class="block">Log In</button>
			</form>

			{{#if error}}<div class="error__message">{{error}}</div>{{/if}}

			<a class="loginSubhead" href="/signup">Need to register? Click here to
				sign-up</a>
			<a class="loginSubhead" href="/passwordReset">Forgot Password? Click Here!</a>
		</main>
	</body>
</html>