<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Login</title>
	</head>
	<body>
		<main class="page">
			<h1>Login</h1>
			<form action="/login" method="POST" id="login-form">
				<label for="username">
					<p>
						Username
					</p>
				</label>
				<input id="username" name="username" />
				<label for="password">
					<p>
						Password
					</p>
				</label>
				<input id="password" name="password" />
				<button type="submit" class="block">Log In</button>
			</form>
			<div class="error">
				{{#if error}}
					<p>{{error}}</p>
				{{/if}}
			</div>
			<a class = "loginSubhead" href="/signup">Need to register? Click here to sign-up</a>
			<a class = "loginSubhead" href="/passwordReset">Forgot Password? Click Here!</a>
		</main>
	</body>
</html>