<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Reset Password</title>
	</head>
	<body>
		<main class="page">
			<h1>Forgot Password</h1>
			<form action="/passwordReset" method="POST" id="password-reset-form">
				<label for="username">Username</label>
				<input id="username" name="username" />

				<label for="password">New Password</label>
				<input type = "password" id="password" name="password"/>
				
				<button type="submit" class="block">Reset Password</button>
			</form>
			<div class="error">
				{{#if error}}
					<p>{{error}}</p>
				{{/if}}
			</div>
			<a class = "loginSubhead" href="/login">Remember your information? Login here!</a>
		</main>
	</body>
</html>