<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PurchaseSuccess</title>
    </head>
    <body>
        <main class="page">
            <h1>Congratulations!</h1>
            <h1>{{title}} is yours.</h1>
            <p>{{artist}} should be contacting you with shipping information soon.</p>
            <img class="post" src="{{imageSource}}" id="art-image" alt="art image"/>
            <a href="/home"> Click here to go back home!</a>
        </main>
    </body>
</html>

