<h1 class = "purchased"> Congratulations! {{title}} is yours!</h1>
<h2>{{artist}} should be contacting you with shipping information soon.</h2>
<img class = "post" src="{{imageSource}}" id="art-image" />
<a href = "/home"> Click here to go back home! </a>
