<html lang="en">
	<head>
		<title>Contact</title>
	</head>
	<body class="support-page">
        <h4>Need support or have feedback? <a href="mailto:support@artpoint.com?&subject=Art%20Point%20Support&body=Type-your-message-here">Contact our Team!</a> </h4>
	</body>