<html lang="en">
	<head>
		<title>Contact</title>
	</head>
	<body>

        <h1>Need support or have feedback? Contact our team! </h1>
        <div> For all inquiries please email us using the form below. </div>
        <br>
        <form>
            <input type="text" value="First Name"><br>
            <input type="text" value="Last Name"><br>
            <input type="text" value="E-Mail">
            <div> Question/Feedback </div>
            <input type="text"><br>
            <input type="submit" value="Submit">
        </form>

	</body>