@use "./var";
@use "./mixins";

@media screen and (max-width: 800px) {
	//mobile
	.art-item {
		@include flex-container(column, flex-start, center, nowrap);
	}
}
@media screen and (min-width: 800px) {
	//laptop
	.art-item {
		@include flex-container(row, center, flex-start, wrap);
	}
}
.art-item {
	.info,
	.img-container {
		padding: 1rem;
	}
	.info {
		max-width: 20rem;
		@include flex-container(column, flex-start, flex-start, nowrap);
		.for-sale,
		.sub-info {
			padding: 1rem 0;
		}
	}
	.img-container {
		flex: 1;
		width: 100%;
		max-width: 40rem;
		#art-image {
			width: clamp(5rem, 100%, 40rem);
		}
	}
}
